/* @font-face {
    font-family: 'Sobiscuit Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sobiscuit Regular'), url('Sobiscuit-nR6VR.woff') format('woff');
} */

@font-face {
    font-family: 'Adelia';
    font-style: normal;
    font-weight: normal;
    src: url('/TODO_LIST_JS/fonts/ADELIA.otf');
}
@font-face {
    font-family: 'Potta One';
    font-style: normal;
    font-weight: normal;
    src: url('/TODO_LIST_JS/fonts/PottaOne-Regular.woff');
}
/*Global Styles*/
*{
    font-family: 'Potta One', sans-serif;
    position: relative;
    background: transparent;
    color: #002765;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(270deg, white, #0a2b7d);
    background-size: 400% 400%;
    padding: 10px;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    overflow: hidden;
    z-index: 1;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.todo-app{
    position: relative;
    width: 100%;
    max-width: 560px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    z-index: 2;
}
.todo-app h2{
    font-family: 'Adelia', sans-serif;
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    align-self: flex-start;
    width: 53px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    z-index: 2;
}
/* .good_work{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    z-index: 3;
} */
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 9px;
    font-size: 13.5px;
    margin-right: 5px;
    z-index: 2;
}
button{
    position: relative;
    flex-shrink: 0;
    border: none;
    outline: none;
    width: auto;
    padding: 16px 34.5px;
    background: #023fa2;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background: 0.3s;
}

li button{
    position: relative;
    text-align: center;
    text-decoration: none !important;
}
ul {
    list-style:none;
    padding: 0;
}
ul li{
    position: relative;
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
ul li::before{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 12px;
    transform: translateY(-50%); /* Centers vertically relative to the li */
    cursor: pointer; /* Changes cursor to indicate it's clickable */
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span:hover{
    background: #edeef0;
}